$fontLucida:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$fontArial: Arial, Helvetica, sans-serif;
$colorGrey:rgba(128, 128, 128, 0.397);
$colorGreen:rgba(0, 128, 0, 0.781);
$colorRed:rgba(255, 0, 0, 0.705);
$colorBlue:rgba(0, 0, 255, 0.678);